:root {
    --primary-white: #fff;
    --primary-blue: #657ef8;
    --primary-background: #f5f6fb;
    --minor-font-color-new: rgba(0, 0, 0, 0.75);
    --hover-black: #000;
    --color-ground: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-ground);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
}
.color-primary3 {
    color: var(--primary-blue) !important;
}
body,
.space {
    background-color: var(--primary-background) !important;
    color: var(--minor-font-color-new);
}

nav {
    position: fixed;
    width: 100%;
    /* background: var(--primary-white); */
    background-color: transparent;
    z-index: 99;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    min-width: 130px;
}

.logo-link {
    display: block;
    height: var(--height-navbar);
}

.logo-img {
    object-fit: cover;
    height: var(--height-navbar);
    width: 100%;
}

.wrapper .nav-links {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: var(--minor-font-color-new);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-links > li:hover > a {
    background-color: transparent;
}
.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: var(--primary-background);
    width: 460px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px var(--color-ground);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: var(--height-navbar);
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.drop-menu li a {
    display: block;
    width: 100%;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
    color: var(--minor-font-color-new);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.drop-menu li:hover a {
    background-color: var(--color-ground);
}
.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 20px;
    background: var(--primary-white);
    box-shadow: 0 6px 10px var(--color-ground);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: rgba(0, 0, 0);
    font-size: 1.8rem;
    font-weight: 500;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid var(--color-icon);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: var(--minor-font-color-new);
    font-size: 1.6rem;
    display: block;
}

.row .mega-links li a:hover {
    color: var(--hover-black);
    background-color: var(--color-ground);
}

.wrapper .btn {
    color: var(--minor-font-color-new);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 18px;
    top: 8px;
    padding: 0 16px;
}
.wrapper .btn.menu-btn {
    padding: 10px;
}
.iconNavDesktop {
    margin-left: 6px;
    color: var(--primary-blue);
}

.nav-right {
    margin-left: auto;
    gap: 8px;
}

.nav-search {
    height: 40px;
    background-color: #f1f4f9;
    border: 1px solid var(--primary-blue);
    border-radius: 100px;
}

.nav-search-wrapper {
    height: 100%;
}

.nav-search-icon {
    position: relative;
    height: 100%;
    width: 40px;
}

.nav-search-close {
    width: 30px;
}

.nav-search-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #747474;
}

.nav-search-input {
    height: 100%;
    flex: 1;
}

.nav-search-input input {
    height: 100%;
    border: none;
    outline: none;
    background-color: #f1f4f9;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--minor-font-color-new);
    caret-color: var(--background-color-button);
    width: 100%;
    display: block;
}

.nav__account {
    display: inline-flex;
    align-items: center;
}
.nav__account-btn {
    display: inline-block;
    background-color: var(--background-color-button);
    border-radius: 4px;
}

.nav__account-btn a {
    display: block;
    height: 100%;
    width: 100%;
}
.nav__account-btn + .nav__account-btn {
    margin-left: 8px;
}

.nav-user {
    height: 40px;
    width: 54px;
    gap: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.user-image {
    height: 100%;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    flex: 1;
}

.user-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(0.8);
}

.nav-user-icon {
    position: relative;
    width: 10px;
    height: 100%;
}

.nav-user-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    color: var(--primary-blue);
}

.dropdown {
    position: relative;
    min-width: 30px;
    border-radius: 5px;
    z-index: 100;
    height: 40px;
    margin-left: 10px;
    user-select: none;
}
.dropdown .dropdown-title {
    color: white;
    font-size: 1.6rem;
    display: flex;
    cursor: pointer;
    height: 100%;
    gap: 6px;
}
.dropdown .menu {
    display: none;
    position: absolute;
    top: 52px;
    right: 0;
    min-width: 190px;
    max-width: 300px;
    background-color: var(--primary-white);
    list-style: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dropdown .menu:before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: var(--primary-blue);
    right: 31px;
    top: -5px;
    transform: rotate(45deg);
    z-index: -1;
}
.dropdown .menu .fa-solid {
    width: 20px;
}
[id^='checkshow']:checked + ul {
    display: block;
}
.dropdown ul li + .dropdown ul li {
    line-height: 24px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.dropdown ul li a {
    display: block;
    color: var(--minor-font-color-new);
    font-size: 1.4rem;
    border-radius: 0;
    transition: all 0.15s ease;
}
.dropdown ul li a:hover,
.dropdown ul li label:hover {
    color: var(--primary-blue);
}
[id^='checkshow'] {
    display: none;
}
.user-name {
    padding: 10px 15px 4px;
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--minor-font-color-new);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
@media screen and (min-width: 971px) {
    .nav-links .nav__item-desktop {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .mega-box .content,
    .nav-links .drop-menu {
        border-top: 2px solid var(--primary-blue);
    }

    .hideOnDesktop {
        display: none !important;
    }
    .nav-search {
        min-width: 284px;
    }
}
@media screen and (max-width: 970px) {
    .hideOnMobile {
        display: none !important;
    }
    .wrapper .btn {
        display: block;
    }

    nav .wrapper {
        padding: 0 10px;
        gap: 10px;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        top: 0;
        left: -100%;
        background: var(--primary-background);
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
        z-index: 11;
        color: var(--minor-font-color-new);
    }

    #menu-btn:checked ~ .nav-links {
        left: 0%;
    }

    #menu-btn:checked ~ .btn.menu-btn {
        display: none;
    }

    #close-btn:checked ~ .btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 1.7rem;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }
    [id^='showDrop']:checked ~ .drop-menu,
    [id^='showMega']:checked ~ .mega-box {
        max-height: 100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        position: relative;
        display: block;
        font-size: 1.7rem;
        color: var(--minor-font-color-new);
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        user-select: none;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: var(--color-ground);
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 1.6rem;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        background-color: var(--primary-background);
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 1.8rem;
    }

    .iconNavMobile {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        color: var(--primary-blue);
    }
    .nav-search {
        width: 400px;
    }

    .user-image {
        flex: none;
        height: 40px;
    }

    .dropdown {
        margin: 15px 10px;
        padding: 0 20px;
    }
    .user-name-mobile {
        padding: 0 15px;
        font-size: 1.9rem;
    }
    .user-name-mobile span {
        display: block;
        flex: 1;
        margin-left: 12px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .nav-links .drop-menu li a .fa-solid {
        width: 30px;
    }
}

.container-accountCenter {
}
.container-accountCenter-wrapper {
}
.accountCenter-layer {
    height: 230px;
    width: 100%;
}
.accountCenter-layer img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.accountCenter-topbar {
    width: 100%;
    height: 56px;
    background-color: var(--primary-white);
}
.accountCenter-topbar-wrapper {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 55px;
    height: 100%;
}
.accountCenter-avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-92%);
    width: 112px;
    height: 112px;
    border-radius: 100rem;
    box-shadow: 0 0 0 2px #fff;
    overflow: hidden;
}
.accountCenter-avatar img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.accountCenter-basic {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 200px;
}
.accountCenter-basic-top {
    color: var(--primary-white);
    font-weight: 500;
    margin-bottom: 10px;
}
.accountCenter-name {
    font-size: 2rem;
}
.accountCenter-title {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.65);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.accountCenter-basic-bottom {
    display: flex;
    align-items: center;
    height: 56px;
}
.accountCenter-basic-item + .accountCenter-basic-item {
    position: relative;
    padding-left: 20px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 46px;
    transition: color 0.1s ease;
    cursor: pointer;
}
.accountCenter-basic-item::after {
    content: '/';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #a9a9a983;
}
.accountCenter-basic-item:first-child::after {
    content: '';
}
.accountCenter-basic-count {
    font-size: 2rem;
}
.accountCenter-basic-item:hover .accountCenter-basic-count {
    color: var(--primary-blue);
}
.accountCenter-basic-item-name {
    font-size: 1.4rem;
}

.side-section-cart-item {
    border-radius: 20px;
    background-color: var(--primary-white);
    padding: 10px 20px;
}
.section-cart-header {
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 6px 0;
    user-select: none;
}
.section-cart-body {
    padding-top: 16px;
    padding-bottom: 10px;
}
.card-user-id {
    font-size: 1.4rem;
    gap: 6px;
}
.card-user-id i {
    color: var(--primary-blue);
}
.start-creator {
    width: 100%;
    padding: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--primary-white);
    border-radius: 100px;
    background-color: var(--primary-blue);
    cursor: pointer;
}
.side-section-cart-item + .side-section-cart-item {
    margin-top: 16px;
}

.container-posts {
    max-width: 1300px;
    margin: 0 auto;
}

.main-page {
    width: 100%;
    border-radius: 30px;
    background-color: var(--primary-white);
}
.main-page-wrapper {
    width: 100%;
    padding: 6px 0;
}
.main-page-top {
    display: flex;
    align-items: center;
    padding: 8px 30px;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    user-select: none;
}
.main-page-top-item {
    line-height: 32px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.main-page-top-item.active {
    border-bottom-color: var(--primary-blue);
}
.main-page-top-item:hover {
    border-bottom-color: var(--primary-blue);
}
.main-page-body {
    padding: 16px 10px;
}
.main-page-noData {
    text-align: center;
    padding: 30px 0;
}

.field-input-password {
    display: flex;
    align-items: center;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 10px;
}
.field-input-password span {
    display: block;
    position: relative;
    padding-right: 8px;
    width: 18px;
}
.field-input-password span i {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    padding: 3px;
    cursor: pointer;
}
.field-input-password input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
}

.changePassword button {
    width: 100%;
    margin-top: 16px;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: var(--primary-blue);
    padding: 10px 0;
    color: var(--primary-white);
    border-radius: 100px;
    cursor: pointer;
}
