USE [master]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'rbEJ14JdA5LTnQpVvo4U6gxklD9RwHh/8dM/goNaXQk=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'eiZKJuTTECdXwmQtvOvj9Px0WAEwJhCeCYplQXssu2g=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/****** Object:  Login [BUILTIN\Users]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE LOGIN [BUILTIN\Users] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [Celestial]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE LOGIN [Celestial] WITH PASSWORD=N'l5QQrAUccR/olyCKnH5iB6UYYpKqEfKtDvSw0Lt+9wY=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [Celestial] DISABLE
GO
/****** Object:  Login [DESKTOP-7Q2J3G3\David Brave]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE LOGIN [DESKTOP-7Q2J3G3\David Brave] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQL$SQLEXPRESS]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE LOGIN [NT Service\MSSQL$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [Celestial]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [DESKTOP-7Q2J3G3\David Brave]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
USE [AniAniplex]
GO
/****** Object:  User [Celestial]    Script Date: 4/6/2023 6:56:59 PM ******/
CREATE USER [Celestial] FOR LOGIN [Celestial] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 4/6/2023 6:56:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id_category] [int] NULL,
	[category_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[categoryList]    Script Date: 4/6/2023 6:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
create view [dbo].[categoryList] as
SELECT 
      [category_name]
  FROM [AniAniplex].[dbo].[CATEGORY]
  group by [category_name]
GO
/****** Object:  Table [dbo].[FAVORITES]    Script Date: 4/6/2023 6:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITES](
	[favorite_id] [int] IDENTITY(1,1) NOT NULL,
	[favorite_date] [datetime] NULL,
	[favorite_user] [int] NULL,
	[favorite_movie] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[favorite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIE_EPISODE]    Script Date: 4/6/2023 6:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIE_EPISODE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [int] NULL,
	[movie_episode_number] [int] NULL,
	[movie_episode_link] [varchar](255) NULL,
	[movie_episode_date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIES]    Script Date: 4/6/2023 6:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIES](
	[movie_id] [int] IDENTITY(3859001,1) NOT NULL,
	[movie_nameVN] [nvarchar](max) NULL,
	[movie_nameJP] [nvarchar](max) NULL,
	[movie_image] [varchar](255) NULL,
	[movie_poster] [varchar](255) NULL,
	[movie_description] [nvarchar](max) NULL,
	[movie_showtimes] [nvarchar](50) NULL,
	[movie_status] [nvarchar](50) NULL,
	[movie_director] [nvarchar](50) NULL,
	[movie_country] [nvarchar](16) NULL,
	[movie_followers] [int] NULL,
	[movie_views] [int] NULL,
	[movie_episode] [int] NULL,
	[movie_language] [nvarchar](16) NULL,
	[movie_studio] [nvarchar](24) NULL,
	[movie_season] [nvarchar](20) NULL,
	[movie_year] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHARE_SOCIAL]    Script Date: 4/6/2023 6:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHARE_SOCIAL](
	[share_id] [int] IDENTITY(1,1) NOT NULL,
	[share_date] [datetime] NULL,
	[share_content] [nvarchar](max) NULL,
	[share_type] [nvarchar](20) NULL,
	[share_user] [int] NULL,
	[share_movie] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[share_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 4/6/2023 6:57:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[user_id] [int] IDENTITY(201001,1) NOT NULL,
	[user_name] [nvarchar](50) NULL,
	[user_account] [varchar](20) NULL,
	[user_password] [varchar](16) NULL,
	[user_email] [varchar](64) NULL,
	[user_image] [varchar](150) NULL,
	[user_gender] [bit] NULL,
	[user_title] [nvarchar](15) NULL,
	[user_description] [nvarchar](max) NULL,
	[user_RegistraionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([id], [movie_id_category], [category_name]) VALUES (1, 3859001, N'Anime Bộ')
INSERT [dbo].[CATEGORY] ([id], [movie_id_category], [category_name]) VALUES (2, 3859001, N'Seinen')
INSERT [dbo].[CATEGORY] ([id], [movie_id_category], [category_name]) VALUES (3, 3859001, N'Romance')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[FAVORITES] ON 

INSERT [dbo].[FAVORITES] ([favorite_id], [favorite_date], [favorite_user], [favorite_movie]) VALUES (1, CAST(N'2023-02-16T12:41:36.000' AS DateTime), 201001, 3859009)
INSERT [dbo].[FAVORITES] ([favorite_id], [favorite_date], [favorite_user], [favorite_movie]) VALUES (2, CAST(N'2023-02-19T14:33:11.000' AS DateTime), 201001, 3859006)
INSERT [dbo].[FAVORITES] ([favorite_id], [favorite_date], [favorite_user], [favorite_movie]) VALUES (3, CAST(N'2023-01-18T05:03:41.000' AS DateTime), 201001, 3859001)
SET IDENTITY_INSERT [dbo].[FAVORITES] OFF
GO
SET IDENTITY_INSERT [dbo].[MOVIE_EPISODE] ON 

INSERT [dbo].[MOVIE_EPISODE] ([id], [movie_id], [movie_episode_number], [movie_episode_link], [movie_episode_date]) VALUES (1, 3859001, 1, N'', CAST(N'2022-12-11T03:19:59.000' AS DateTime))
INSERT [dbo].[MOVIE_EPISODE] ([id], [movie_id], [movie_episode_number], [movie_episode_link], [movie_episode_date]) VALUES (2, 3859001, 2, N'', CAST(N'2023-01-31T19:32:15.000' AS DateTime))
INSERT [dbo].[MOVIE_EPISODE] ([id], [movie_id], [movie_episode_number], [movie_episode_link], [movie_episode_date]) VALUES (3, 3859002, 1, N'', CAST(N'2022-12-17T11:56:54.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MOVIE_EPISODE] OFF
GO
SET IDENTITY_INSERT [dbo].[MOVIES] ON 

SET IDENTITY_INSERT [dbo].[MOVIES] OFF
GO
SET IDENTITY_INSERT [dbo].[SHARE_SOCIAL] ON 

INSERT [dbo].[SHARE_SOCIAL] ([share_id], [share_date], [share_content], [share_type], [share_user], [share_movie]) VALUES (1, CAST(N'2022-12-03T05:50:31.000' AS DateTime), N'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, dicta ipsum. Esse vitae dignissimos deserunt at molestias quisquam nostrum voluptates, inventore aliquid eligendi harum explicabo, laboriosam odit. Voluptas, eum odio.', NULL, 201005, 3859014)
INSERT [dbo].[SHARE_SOCIAL] ([share_id], [share_date], [share_content], [share_type], [share_user], [share_movie]) VALUES (2, CAST(N'2023-03-06T04:12:30.000' AS DateTime), N'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, dicta ipsum. Esse vitae dignissimos deserunt at molestias quisquam nostrum voluptates, inventore aliquid eligendi harum explicabo, laboriosam odit. Voluptas, eum odio.', NULL, 201004, 3859005)
INSERT [dbo].[SHARE_SOCIAL] ([share_id], [share_date], [share_content], [share_type], [share_user], [share_movie]) VALUES (3, CAST(N'2022-12-04T04:53:18.000' AS DateTime), N'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, dicta ipsum. Esse vitae dignissimos deserunt at molestias quisquam nostrum voluptates, inventore aliquid eligendi harum explicabo, laboriosam odit. Voluptas, eum odio.', NULL, 201001, 3859012)
SET IDENTITY_INSERT [dbo].[SHARE_SOCIAL] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([user_id], [user_name], [user_account], [user_password], [user_email], [user_image], [user_gender], [user_title], [user_description], [user_RegistraionDate]) VALUES (201001, N'Ngô Mạnh Hùng', N'hhungnm', N'hhungnm', N'hhungnm@gmail.com', N'https://cdn.discordapp.com/attachments/1059014105777848341/1089228845040816259/pixel_4.jpg', 1, N'Administrator', N'Năm tháng ấy trôi qua thật nhanh', CAST(N'2023-03-25T00:00:00.000' AS DateTime))
INSERT [dbo].[USERS] ([user_id], [user_name], [user_account], [user_password], [user_email], [user_image], [user_gender], [user_title], [user_description], [user_RegistraionDate]) VALUES (201002, N'Trần Thị Hà Vi', N'havi', N'z7havi!6', N'tranthihavi@gmail.com', N'https://cdn.discordapp.com/attachments/1059014105777848341/1089228843673469049/pixel_1.jpg', 0, N'Member', N'Hãy sống hết mình mỗi ngày.', CAST(N'2023-03-10T00:00:00.000' AS DateTime))
INSERT [dbo].[USERS] ([user_id], [user_name], [user_account], [user_password], [user_email], [user_image], [user_gender], [user_title], [user_description], [user_RegistraionDate]) VALUES (201003, N'Trần Hà My', N'hamy', N'7LhamyXV', N'tranhamy@gmail.com', N'https://cdn.discordapp.com/attachments/1059014105777848341/1089228844415860857/pixel_2.png', 0, N'Member', N'Cuộc sống không chỉ là về sự tồn tại, mà còn về cách chúng ta trải nghiệm và tận hưởng nó', CAST(N'2023-02-25T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [fk_movie_id_category] FOREIGN KEY([movie_id_category])
REFERENCES [dbo].[MOVIES] ([movie_id])
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [fk_movie_id_category]
GO
ALTER TABLE [dbo].[FAVORITES]  WITH CHECK ADD  CONSTRAINT [fk_favorite_movie] FOREIGN KEY([favorite_movie])
REFERENCES [dbo].[MOVIES] ([movie_id])
GO
ALTER TABLE [dbo].[FAVORITES] CHECK CONSTRAINT [fk_favorite_movie]
GO
ALTER TABLE [dbo].[FAVORITES]  WITH CHECK ADD  CONSTRAINT [fk_favorite_user] FOREIGN KEY([favorite_user])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[FAVORITES] CHECK CONSTRAINT [fk_favorite_user]
GO
ALTER TABLE [dbo].[MOVIE_EPISODE]  WITH CHECK ADD  CONSTRAINT [fk_movie_episode_number] FOREIGN KEY([movie_id])
REFERENCES [dbo].[MOVIES] ([movie_id])
GO
ALTER TABLE [dbo].[MOVIE_EPISODE] CHECK CONSTRAINT [fk_movie_episode_number]
GO
ALTER TABLE [dbo].[SHARE_SOCIAL]  WITH CHECK ADD  CONSTRAINT [fk_share_movie] FOREIGN KEY([share_movie])
REFERENCES [dbo].[MOVIES] ([movie_id])
GO
ALTER TABLE [dbo].[SHARE_SOCIAL] CHECK CONSTRAINT [fk_share_movie]
GO
ALTER TABLE [dbo].[SHARE_SOCIAL]  WITH CHECK ADD  CONSTRAINT [fk_share_user] FOREIGN KEY([share_user])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[SHARE_SOCIAL] CHECK CONSTRAINT [fk_share_user]
GO
USE [AniAniplex]
GO

/****** Object:  View [dbo].[categoryList]    Script Date: 4/12/2023 4:24:17 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/****** Script for SelectTopNRows command from SSMS  ******/
create view [dbo].[categoryList] as
SELECT 
      [category_name]
  FROM [AniAniplex].[dbo].[CATEGORY]
  group by [category_name]
GO

USE [AniAniplex]
GO

/****** Object:  View [dbo].[EpisodeNewUpdate]    Script Date: 4/12/2023 4:25:07 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/****** Script for SelectTopNRows command from SSMS  ******/
CREATE view [dbo].[EpisodeNewUpdate] as
SELECT    dbo.MOVIES.movie_id,      dbo.MOVIES.movie_nameVN, MAX(dbo.MOVIE_EPISODE.movie_episode_date) AS latest_episode_date, MAX(dbo.MOVIE_EPISODE.movie_episode_number) AS latest_episode_number,
                         dbo.MOVIES.movie_views
FROM            dbo.MOVIE_EPISODE INNER JOIN
                         dbo.MOVIES ON dbo.MOVIE_EPISODE.movie_id = dbo.MOVIES.movie_id
GROUP BY dbo.MOVIES.movie_nameVN, dbo.MOVIES.movie_id, dbo.MOVIES.movie_views
GO

create trigger delete_movie on MOVIES instead of delete as
begin
	delete from MOVIE_EPISODE where movie_id in (select movie_id from deleted);
	delete from CATEGORY where [movie_id_category] in (select [movie_id_category] from deleted);
	delete from FAVORITES where favorite_movie in (select favorite_movie from deleted);
	delete from SHARE_SOCIAL where share_movie in (select share_movie from deleted);
	delete from MOVIES where movie_id in (select movie_id from deleted);
end